<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tech-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kid's Computers & Technology Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tech-link">
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">Test</a>
               
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kid's Action & Adventure Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="action-adven-link">
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="classic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kid's Classics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classic-link">
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="humor-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kid's Humor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="humor-link">
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">Test</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>